In [1]:
#Import dependencies
import pandas as pd
import gmaps
import requests
#Import API key
from config import g_key

In [2]:
#Store the CSV you saved created in part one into a dataframe
city_data_df=pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tiksi,RU,2021-05-30 19:40:23,71.6872,128.8694,33.33,92,36,9.15
1,1,Kathmandu,NP,2021-05-30 19:35:44,27.7167,85.3167,70.02,94,75,0.00
2,2,Albany,US,2021-05-30 19:36:52,42.6001,-73.9662,49.08,92,100,6.33
3,3,Cape Town,ZA,2021-05-30 19:40:23,-33.9258,18.4232,56.12,78,0,3.09
4,4,Pedra Azul,BR,2021-05-30 19:36:04,-16.0053,-41.2972,77.63,49,10,7.09

In [3]:
#Check the data types to ensure lat/lon are integers or floats to work with gmaps
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [8]:
#Get the max temp
max_temp=city_data_df["Max Temp"]
temps=[]
for temp in max_temp:
    temps.append(max(temp,0))

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.8)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps,dissipating=False,max_intensity=300,point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
#Heatmap of humidity
locations=city_data_df[["Lat","Lng"]]
humidity=city_data_df["Humidity"]
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=humidity,dissipating=False, max_intensity=300,point_radius=4)
#Add the heatmap to the figure and call the figure
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
#Heatmap of cloudiness
locations=city_data_df[["Lat","Lng"]]
cloudiness=city_data_df["Cloudiness"]
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=cloudiness,dissipating=False,max_intensity=300,point_radius=4)
#Add the heatmap layer and call the figure
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
#Heatmap of cloudiness
locations=city_data_df[["Lat","Lng"]]
wind=city_data_df["Wind Speed"]
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=wind,dissipating=False,max_intensity=300,point_radius=4)
#Add the heatmap layer and call the figure
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [26]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<=max_temp) & (city_data_df["Max Temp"]>=min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Pedra Azul,BR,2021-05-30 19:36:04,-16.0053,-41.2972,77.63,49,10,7.09
8,8,Hilo,US,2021-05-30 19:40:24,19.7297,-155.0900,81.81,74,1,9.22
9,9,Kapaa,US,2021-05-30 19:40:24,22.0752,-159.3190,83.48,62,1,1.01
11,11,Umm Lajj,SA,2021-05-30 19:40:25,25.0213,37.2685,87.40,45,50,7.52
14,14,Rikitea,PF,2021-05-30 19:40:26,-23.1203,-134.9692,75.36,71,96,12.35
22,22,Del Rio,US,2021-05-30 19:40:28,29.3627,-100.8968,89.71,53,75,13.80
28,28,Avarua,CK,2021-05-30 19:40:30,-21.2078,-159.7750,75.25,64,20,4.61
39,39,Puerto Carreno,CO,2021-05-30 19:40:33,6.1890,-67.4859,78.24,87,100,5.35
41,41,Atuona,PF,2021-05-30 19:40:34,-9.8000,-139.0333,79.61,63,3,8.12
50,50,Sorong,ID,2021-05-30 19:40:37,-0.8833,131.2500,78.82,89,100,13.02

In [27]:
preferred_cities_df.count()

City_ID       172
City          172
Country       172
Date          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
dtype: int64

In [28]:
#Create dataframe called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df=preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
4       Pedra Azul      BR     77.63 -16.0053  -41.2972
8             Hilo      US     81.81  19.7297 -155.0900
9            Kapaa      US     83.48  22.0752 -159.3190
11        Umm Lajj      SA     87.40  25.0213   37.2685
14         Rikitea      PF     75.36 -23.1203 -134.9692
22         Del Rio      US     89.71  29.3627 -100.8968
28          Avarua      CK     75.25 -21.2078 -159.7750
39  Puerto Carreno      CO     78.24   6.1890  -67.4859
41          Atuona      PF     79.61  -9.8000 -139.0333
50          Sorong      ID     78.82  -0.8833  131.2500

In [31]:
#Set parameters to search for a hotel
params={
    "radius":5000,
    "type":"lodging",
    "key":g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Pedra Azul,BR,77.63,-16.0053,-41.2972,Pousada Pedra Azul
8,Hilo,US,81.81,19.7297,-155.0900,Hilo Hawaiian Hotel
9,Kapaa,US,83.48,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
11,Umm Lajj,SA,87.40,25.0213,37.2685,Moon light Furnished Units
14,Rikitea,PF,75.36,-23.1203,-134.9692,Pension Maro'i
22,Del Rio,US,89.71,29.3627,-100.8968,"Holiday Inn Express & Suites del Rio, an IHG H..."
28,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
39,Puerto Carreno,CO,78.24,6.1890,-67.4859,Casa Hotel Victoria
41,Atuona,PF,79.61,-9.8000,-139.0333,Villa Enata
50,Sorong,ID,78.82,-0.8833,131.2500,waigo splash hotel

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))