## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Weather
0,0,Bredasdorp,-34.5322,20.0403,61.92,72,28,3.98,ZA,2021-06-01 15:36:27,scattered clouds
1,1,Cockburn Town,21.4612,-71.1419,84.16,70,40,13.80,TC,2021-06-01 15:26:41,scattered clouds
2,2,Mount Isa,-20.7333,139.5000,62.37,63,82,5.75,AU,2021-06-01 15:36:28,broken clouds
3,3,Vaitape,-16.5167,-151.7500,79.29,74,70,15.03,PF,2021-06-01 15:31:09,broken clouds
4,4,Thompson,55.7435,-97.8558,50.16,62,75,4.61,CA,2021-06-01 15:36:28,broken clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
input_cities_df=city_data_df.loc[(city_data_df["Max Temp"]<=max_temp)&(city_data_df["Max Temp"]>=min_temp)]
input_cities_df.head(10)

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Weather
1,1,Cockburn Town,21.4612,-71.1419,84.16,70,40,13.80,TC,2021-06-01 15:26:41,scattered clouds
9,9,Balykshi,47.0667,51.8667,80.60,57,40,15.66,KZ,2021-06-01 15:36:29,scattered clouds
15,15,Estelle,29.8458,-90.1067,86.05,68,75,9.22,US,2021-06-01 15:36:31,broken clouds
45,45,Narasannapeta,18.4167,84.0500,86.09,76,20,7.72,IN,2021-06-01 15:36:38,few clouds
51,51,Butaritari,3.0707,172.7902,82.24,82,77,16.69,KI,2021-06-01 15:36:40,light rain
57,57,Victoria,22.2855,114.1577,80.33,92,100,8.63,HK,2021-06-01 15:33:36,moderate rain
68,68,Belmonte,-15.8631,-38.8828,82.90,64,80,6.82,BR,2021-06-01 15:36:44,broken clouds
69,69,Tulagi,-9.0996,160.1476,81.34,81,86,14.99,SB,2021-06-01 15:36:45,overcast clouds
73,73,Dok Kham Tai,19.1624,99.9934,80.62,69,97,3.22,TH,2021-06-01 15:36:46,overcast clouds
78,78,Iberia,29.9502,-91.7507,82.98,74,75,10.83,US,2021-06-01 15:36:47,broken clouds

In [6]:
# 4a. Determine if there are any empty rows
input_cities_df.count()

Unnamed: 0         110
City               110
Lat                110
Lng                110
Max Temp           110
Humidity           110
Cloudiness         110
Wind Speed         110
Country            110
Date               110
Current Weather    110
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
cleaned_input_df=input_cities_df.dropna(axis=0,how="any")
cleaned_input_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Weather
1,1,Cockburn Town,21.4612,-71.1419,84.16,70,40,13.80,TC,2021-06-01 15:26:41,scattered clouds
9,9,Balykshi,47.0667,51.8667,80.60,57,40,15.66,KZ,2021-06-01 15:36:29,scattered clouds
15,15,Estelle,29.8458,-90.1067,86.05,68,75,9.22,US,2021-06-01 15:36:31,broken clouds
45,45,Narasannapeta,18.4167,84.0500,86.09,76,20,7.72,IN,2021-06-01 15:36:38,few clouds
51,51,Butaritari,3.0707,172.7902,82.24,82,77,16.69,KI,2021-06-01 15:36:40,light rain
...,...,...,...,...,...,...,...,...,...,...,...
675,675,Tambura,5.6000,27.4667,82.09,68,89,2.77,SS,2021-06-01 15:39:31,overcast clouds
677,677,Wamba,8.9333,8.6000,86.92,49,100,3.85,NG,2021-06-01 15:30:32,light rain
688,688,Sendhwa,21.6833,75.1000,86.32,51,37,13.96,IN,2021-06-01 15:39:35,scattered clouds
700,700,Jalingo,8.8833,11.3667,87.42,56,100,2.37,NG,2021-06-01 15:39:38,overcast clouds
703,703,Contamana,-7.3333,-75.0167,87.57,56,93,1.23,PE,2021-06-01 15:39:39,overcast clouds

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = cleaned_input_df[["City", "Country", "Max Temp", "Current Weather", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
1,Cockburn Town,TC,84.16,scattered clouds,21.4612,-71.1419,
9,Balykshi,KZ,80.60,scattered clouds,47.0667,51.8667,
15,Estelle,US,86.05,broken clouds,29.8458,-90.1067,
45,Narasannapeta,IN,86.09,few clouds,18.4167,84.0500,
51,Butaritari,KI,82.24,light rain,3.0707,172.7902,
57,Victoria,HK,80.33,moderate rain,22.2855,114.1577,
68,Belmonte,BR,82.90,broken clouds,-15.8631,-38.8828,
69,Tulagi,SB,81.34,overcast clouds,-9.0996,160.1476,
73,Dok Kham Tai,TH,80.62,overcast clouds,19.1624,99.9934,
78,Iberia,US,82.98,broken clouds,29.9502,-91.7507,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat=row["Lat"]
    lng=row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index,"Hotel Name"]=hotels["results"][0]["name"]
    except:
        print("Hotel not found...skipping")

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [10]:
#Preview the hotel dataframe
hotel_df.head(10)

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
1,Cockburn Town,TC,84.16,scattered clouds,21.4612,-71.1419,Osprey Beach Hotel
9,Balykshi,KZ,80.60,scattered clouds,47.0667,51.8667,Гостиница Golden Rose
15,Estelle,US,86.05,broken clouds,29.8458,-90.1067,Ohio
45,Narasannapeta,IN,86.09,few clouds,18.4167,84.0500,G.lingaraju home
51,Butaritari,KI,82.24,light rain,3.0707,172.7902,Isles Sunset Lodge
57,Victoria,HK,80.33,moderate rain,22.2855,114.1577,Mini Hotel Central
68,Belmonte,BR,82.90,broken clouds,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
69,Tulagi,SB,81.34,overcast clouds,-9.0996,160.1476,Raiders Hotel & Dive
73,Dok Kham Tai,TH,80.62,overcast clouds,19.1624,99.9934,VC Hotel Phayao
78,Iberia,US,82.98,broken clouds,29.9502,-91.7507,back to back rv park

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df.dropna(axis=0,how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
1,Cockburn Town,TC,84.16,scattered clouds,21.4612,-71.1419,Osprey Beach Hotel
9,Balykshi,KZ,80.60,scattered clouds,47.0667,51.8667,Гостиница Golden Rose
15,Estelle,US,86.05,broken clouds,29.8458,-90.1067,Ohio
45,Narasannapeta,IN,86.09,few clouds,18.4167,84.0500,G.lingaraju home
51,Butaritari,KI,82.24,light rain,3.0707,172.7902,Isles Sunset Lodge
57,Victoria,HK,80.33,moderate rain,22.2855,114.1577,Mini Hotel Central
68,Belmonte,BR,82.90,broken clouds,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
69,Tulagi,SB,81.34,overcast clouds,-9.0996,160.1476,Raiders Hotel & Dive
73,Dok Kham Tai,TH,80.62,overcast clouds,19.1624,99.9934,VC Hotel Phayao
78,Iberia,US,82.98,broken clouds,29.9502,-91.7507,back to back rv park

In [12]:
# 8a. Create the output File (CSV)
output_data_file=("WeatherPy_vacation.csv")
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}, {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))